.workArea {
    overflow: hidden;
    flex-grow: 1;
    padding-top: 50px;
}

.slideShow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
