.slideObject {
    position: absolute;
}

.slide {
    display: flex;
    box-shadow: 0 5px 5px var(--light-gray-color);
    position: relative;
    margin-inline: auto;
    background-size: cover;
    box-sizing: content-box;
}