* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

#root {
    padding-top: var(--tool-bar-margin);
}

:root {
    --light-gray-color: #DADADA;
    --tool-bar-margin: 15px;
    --tool-bar-border-radius: 15px;
    --tool-bar-block-height: 45px;
    --font-family: "Inter", sans-serif;
    --slide-border-radius: 20px;
    --slide-preview-border-radius: calc(var(--slide-border-radius) / 2);
    --resize-handle-size: 10px;
    --selection-color: #2684FC;
}