.slideObject {
    position: absolute;
}

.slide {
    display: flex;
    box-shadow: 0 5px 5px var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    position: relative;
    border-radius: var(--slide-border-radius);
    margin-inline: auto;
    background-size: cover;
}

