.slideObject {
    position: absolute;
}

.slide {
    display: flex;
    box-shadow: 0 5px 5px var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    position: relative;
}

.inListSlide {
    width: 160px;
    height: 90px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.activeSlide {
    margin-inline: auto;
    border-radius: 20px;
}
