.toolBar {
    margin: 0 var(--tool-bar-margin) var(--tool-bar-margin);
    box-shadow: 0 5px 5px var(--light-gray-color);
    border-radius: var(--tool-bar-border-radius);
}

.fileNameArea {
    height: var(--tool-bar-block-height);
    display: flex;
}

.icon {
    margin-left: 15px;
    margin-block: 5px;
}

.fileName {
    display: inline-block;
    margin-left: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 20px;
    color: dimgray;
}

.toolArea {
    display: flex;
    padding-inline: 15px;
    background-color: #EDF2FA;
    height: var(--tool-bar-block-height);
    border-bottom-right-radius: var(--tool-bar-border-radius);
    border-bottom-left-radius: var(--tool-bar-border-radius);
}

.slideActionsText {
    color: #505050;
    margin-block: auto;
    font-family: var(--font-family);
    font-size: 14px;
    margin-right: 10px;
}

.toolBarSeparator {
    margin: 6px 10px;
    background-color: var(--light-gray-color);
    width: 2px;
}

.fileInput {
    display: none;
}
