.toolBar {
    position: relative;
    margin: 0 var(--tool-bar-margin) var(--tool-bar-margin);
    box-shadow: 0 5px 5px var(--light-gray-color);
    border-radius: var(--tool-bar-border-radius);
    z-index: var(--panel-z-index);
}

.toolBar > * {
    user-select: none;
}

.fileNameArea {
    height: var(--tool-bar-block-height);
    display: flex;
    background-color: var(--background-color);
    border-top-right-radius: var(--tool-bar-border-radius);
    border-top-left-radius: var(--tool-bar-border-radius);
}

.icon {
    margin-left: 15px;
    margin-block: 5px;
}

.fileName {
    display: inline-block;
    margin-left: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 20px;
    color: #808080;
}

.toolArea {
    display: flex;
    padding-inline: 15px;
    background-color: #EDF2FA;
    height: var(--tool-bar-block-height);
    border-bottom-right-radius: var(--tool-bar-border-radius);
    border-bottom-left-radius: var(--tool-bar-border-radius);
}

.slideActionsText {
    color: #505050;
    margin-block: auto;
    font-family: var(--font-family);
    font-size: 16px;
    margin-right: 10px;
}

.toolBarSeparator {
    margin: 6px 10px;
    background-color: var(--light-gray-color);
    width: 2px;
}

.fileInput {
    display: none;
}

.colorInput {
    visibility: hidden;
    width: 0;
    margin-top: 20px;
}

.setFontInput {
    border-radius: 5px;
    background-color: transparent;
    margin-block: 11px;
    border: none;
    outline: #505050A0 solid 1px;
    text-align: center;
    color: var(--gray-color);
}

.imageField {
    position: relative;
}

.gallery {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    top: 50px;
    left: 0;
    border-radius: 10px;
    width: 360px;
    height: 360px;
    overflow-y: scroll;
    background-color: #EDF2FA;
    box-shadow: 0 5px 5px var(--light-gray-color);
    padding: 10px;
}

.galleryImage {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.galleryImage:hover {
    box-shadow: 0 5px 5px var(--gray-color);
}

.galleryImage:active {
    transform: scale(0.96);
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
