.toolBar {
    position: relative;
    margin: 0 var(--tool-bar-margin) var(--tool-bar-margin);
    box-shadow: 0 5px 5px var(--light-gray-color);
    border-radius: var(--tool-bar-border-radius);
    z-index: var(--panel-z-index);
}

.toolBar > * {
    user-select: none;
}

.fileNameArea {
    height: var(--tool-bar-block-height);
    display: flex;
    background-color: var(--background-color);
    border-top-right-radius: var(--tool-bar-border-radius);
    border-top-left-radius: var(--tool-bar-border-radius);
}

.icon {
    margin-left: 15px;
    margin-block: 5px;
}

.fileName {
    display: inline-block;
    margin-left: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 20px;
    color: #808080;
}

.toolArea {
    display: flex;
    padding-inline: 15px;
    background-color: #EDF2FA;
    height: var(--tool-bar-block-height);
    border-bottom-right-radius: var(--tool-bar-border-radius);
    border-bottom-left-radius: var(--tool-bar-border-radius);
}

.slideActionsText {
    color: #505050;
    margin-block: auto;
    font-family: var(--font-family);
    font-size: 16px;
    margin-right: 10px;
}

.toolBarSeparator {
    margin: 6px 10px;
    background-color: var(--light-gray-color);
    width: 2px;
}

.fileInput {
    display: none;
}

.colorInput {
    visibility: hidden;
    width: 0;
    margin-top: 20px;
}
